.AddItemModal_Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
.AddItemModal_Exit {
  cursor: pointer;
}
.AddItemModal_NutritionRow {
  padding-left: 25px;
  padding-right: 25px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ReactModal__Overlay {
  width: 50%;
}
.ReactModal__Content {
  width: 100%;
}
