.MealPlan_Container {
  padding: 15px;
}
.MealPlan_NameOfFoodText {
  color: #076694;
  font-weight: bold;
  width: 20%;
}
.MealPlan_MealNameText {
  font-size: 25px;
  font-weight: bold;
}
.MealPlan_ItemContainer {
  border-bottom: 1.75px #eee solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MealPlan_ItemContainer_IsMeal {
  border-bottom: 1.75px #eee solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #076694;
  margin-left: -15px;
  margin-right: -15px;
}
.MealPlan_DeleteContainer {
  height: 30px;
  width: 30px;
  /* border: 2px red solid; */
  border-radius: 50%;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.MealPlan_DeleteIcon {
  font-weight: normal;
  text-align: center;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  color: red;
  margin-right: 5px;
  margin-left: 5px;
}
.MealPlan_NutrientValue {
  width: 20%;
  text-align: center;
}
.MealPlan_NutrientName {
  width: 20%;
  text-align: center;
  font-weight: bold;
}
.MealPlan_NutrientName_MealTotal {
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.MealPlan_Totals {
  width: 20%;
  text-align: left;
  font-weight: bold;
  padding-left: 15px;
  color: #fff;
}
.MealPlan_AddItemInput {
  height: 48px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-bottom: 10px;
  border-bottom: 1px black solid;
  width: 20%;
  outline: none;
  font-size: 16px;
}
.MealPlan_ResultsContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border: 1px black solid;
  margin-top: -10px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 0px;
  margin-top: 2.7%;
}
.MealPlan_ResultText {
  cursor: pointer;
  margin-top: 0px;
}
.MealPlan_AddItemText {
  cursor: pointer;
}
:hover.MealPlan_AddItemText {
  font-weight: bold;
  text-decoration: underline;
}
.MealPlan_MealName {
  font-weight: bol;
  background-color: #076694;
  padding: 7.5px;
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
  color: #fff;
  margin-top: 0px;
}
