.MealPlan_Container {
  padding: 15px;
}
.MealPlan_NameOfFoodText {
  color: #076694;
  font-weight: bold;
  width: 15%;
}
.MealPlan_MealNameText {
  font-size: 25px;
  font-weight: bold;
}
.MealPlan_ItemContainer {
  border-bottom: 1.75px #eee solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MealPlan_DeleteContainer {
  height: 30px;
  width: 30px;
  border: 2px red solid;
  border-radius: 50%;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
:hover.MealPlan_DeleteContainer {
  background-color: red;
  border: 2px #eee solid;
  color: grey;
}
.MealPlan_DeleteIcon {
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  color: red;
}
:hover.MealPlan_DeleteIcon {
  color: #fff;
  padding: 25px;
}
.MealPlan_NutrientValue {
  width: 10%;
  text-align: center;
}
.MealPlan_NutrientName {
  width: 15%;
  text-align: center;
  font-weight: bold;
}
