.FlatListContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow-y: scroll;
  height: 89vh;
  margin-top: 10px;
  border-radius: 6px;
}
.FlatList_ItemContainer {
  width: 100%;
  cursor: pointer;
  height: 50px;
  background-color: #eee;
  width: 800px;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
}
:hover.FlatList_ItemContainer {
  background-color: #ccc;
  border: 1.5px black solid;
}
.FlatList_ItemText {
  font-weight: bold;
}
